*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{

    height: 160px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 5px solid black;
}
.header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-container {
    display: flex;
    gap:15px;
    flex-wrap: wrap;
}


.content1{
    flex: 2;
    min-height: 500px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 5px solid black;
}
.content1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.content2 > div{
    flex: 1;
    display: flex;
    gap: 15px;
}


.content2 > div > div{
    flex: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 5px solid black;
}

.content2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.footer{

    height: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 5px solid black;
}
.footer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media screen and (max-width:800px) {

    .main-container{
        flex-direction: column;
    }

    .content1{
        width: 100%;
        min-height: 300px;
    }

    .content2{
        width: 100%;
    }

    .header{
        height: 90px;
    }

    .footer{
        height: 120px;
    }
}


@media screen and (max-width:520px) {

    .content2 > div{
        flex-direction: column;
    }

    .content2 > div > div{
        min-height: 200px;
    }
}
